<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="style.css" type="text/css">
        <title></title>
        <body>
            <div class="bd border-set">
                asd
                <div class="contents border-set">
                    <div class="bd">
                        test box
                    </div>
                    <div class="bd">
                        question box
                        <ul>
                            <li> 1 </li>
                            <li> 2 </li>
                            <li> 3 </li>
                            <li> 4 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </body>
    </head>
</html>